@import 'fonts.css';
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'roboto';
  font-weight: 400;
}
:root{
  --white: #ffffff;
  --black: #000000;
  --banner-bg: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
  --navbar-bg: rgba(1, 3, 5, 0.8);
  --header-bg: rgba(7, 15, 25, 0.75);
  --film-bg: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
  --colection-bg: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
  --serials-bg: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%);
  --footer-bg: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
  --widow-deg: 90deg;
  --black-widow-bg: linear-gradient(var(--widow-deg), #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
  --btn-bg: #F18128;
  --brown: #ED8E00;
  --dark: #040D1F;
  --grey-text: #c8c8c8;
  --time-bg: rgba(7, 15, 25, 0.2);
}
/* icons */
*::before,
*::after{
  font-family: 'icons';
}
.icon-film::before{
  content: '\f008';
  font-weight: 300;
  color: var(--white);
  font-size: 50px;
}
.icon-play::before{
  content: '\f04b';
  font-weight: 900;
}
.icon-play::after{
  content: '\10f04b';
  font-weight: 900;
  position: absolute;
  opacity: 0.5;
}
.icon-play{
  color: white;
  font-size: 40px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
/* body */
body{
  background: var(--dark);
  color: var(--white);
}
/* container */
.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  border: 1px solid red;
}
/* banner */
.banner{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
  background: var(--banner-bg);
  column-gap: 24px;
}
.banner p{
  max-width: 166px;
  font-size: 16px;
  line-height: 18px;
  font-family: 'comfortaa';
  font-weight: 400;
  color: var(--white);
}
/* navbar */
.navbar{
  width: 100%;
  background: var(--navbar-bg);
  position: sticky;
  top: 0;
  backdrop-filter: blur(5px);
  z-index: 30;
}
.navbar-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-nav__logo{
  display: flex;
  align-items: flex-end;
  column-gap: 5px;
  padding: 25px 0;
}
.navbar-nav__logo img{
  width: 103px;
  object-fit: contain;
}
.navbar-nav__logo span{
  font-family: 'comfortaa';
  font-weight: 700;
  color: var(--white);
  font-size: 18px;
  line-height: 13px;
  text-transform: uppercase;
}
.navbar-nav__list{
  display: flex;
}
.navbar-nav__list a{
  margin: 0 9px;
  padding: 43px 6px;
  display: flex;
  font-size: 14px;
  line-height: 14px;
  font-family: 'montserrat';
  font-weight: 400;
  color: var(--white);
  position: relative;
  justify-content: center;
  transition: color 0.3s;
}
.navbar-nav__list a::before{
  width: 100%;
  height: 3px;
  position: absolute;
  content: '';
  background: var(--brown);
  border-radius: 3px 3px 0 0;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.3s;
}
.navbar-nav__list a:hover{
  color: var(--brown);
}
.navbar-nav__list a:hover::before{
  transform: scaleX(1);
}
.navbar-nav__btn{
  width: 30px;
  height: 30px;
  display: none;
  flex-direction: column;
  justify-content: center;
  row-gap: 4px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.navbar-nav__btn span{
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background: var(--brown);
}
/* header */
.header{
  width: 100%;
  height: 650px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header::before{
  width: 100%;
  height: 100%;
  position: absolute;
  content: '';
  background: var(--header-bg);
}
.header-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__content{
  position: absolute;
  display: flex;
  flex-direction: column;
}
.header__content h1{
  font-family: 'montserrat';
  font-weight: 700;
  font-size: 64px;
  line-height: 65px;
}
.header__content p{
  max-width: 570px;
  text-align: justify;
  font-size: 16px;
  line-height: 24px;
  font-family: 'montserrat';
  margin: 30px 0 50px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  color: var(--grey-text);
}
.vue-btn{
  min-width: 166px;
  padding: 17px;
  border-radius: 4px;
  background: var(--btn-bg);
  color: var(--black);
  display: inline-flex;
  justify-content: center;
  font-size: 14px;
  line-height: 12px;
  font-weight: 500;
}
.vue-btn:hover{
  background: var(--dark);
  color: var(--white);
}
.header__content--btn{
  display: flex;
  column-gap: 30px;
}
/* films */
.films{
  width: 100%;
  padding: 60px 0 77px;
}
.vue-title a{
  font-family: 'comfortaa';
  font-size: 36px;
  line-height: 32px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--btn-bg);
  color: var(--btn-bg);
  display: inline-flex;
  text-transform: capitalize;
  margin-bottom: 54px;
}
.films__content--items{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 3%;
}
.films-card{
  width: 22.7%;
  border-radius: 6px;
  background: orangered;
  /* min-height: 360px; */
  height: 360px;
  position: relative;
  overflow: hidden;
}
.films-card__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.films-card__content{
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--film-bg);
  top: 0;
  padding: 19px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.films-card__content--text h3{
  font-family: 'montserrat';
  font-size: 22px;
  line-height: 27px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-align: center;
  margin-bottom: 12px;
}
.films-card__content--text p{
  font-size: 14px;
  line-height: 21px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
}
.films-card__content--icons{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  padding: 36px 0 0;
}
.films-card__time{
  padding: 7px;
  font-size: 14px;
  line-height: 10px;
  font-family: 'montserrat';
  color: var(--white);
  border-radius: 9px;
  border: 2px solid var(--white);
  background: var(--time-bg);
  min-width: 100px;
  text-align: center;
}
/* premiere */
.premiere{
  width: 100%;
  height: 500px;
  /* border: 1px solid green; */
  overflow: hidden;
  background: var(--white);
  position: relative;
  display: flex;
  align-items: center;
}
.premiere__video{
  position: absolute;
  width: 60%;
  height: 100%;
  object-fit: cover;
  right: 0;
}
.premiere::before{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  content: '';
  background: var(--black-widow-bg);
  z-index: 1;
}
.premiere__content{
  position: relative;
  z-index: 2;
  padding: 42px 15px;
}
.premiere__content img{
  width: 35%;
}
.premiere__content p{
  max-width: 558px;
  color: var(--black);
  font-size: 18px;
  line-height: 27px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  margin: 51px 0 55px;
  text-align: justify;
}
/* collections */
.collections{
  padding: 62px 0;
  width: 100%;
}
.collections__content--items{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 3%;
  row-gap: 30px;
  justify-content: center;
}
.collections-card{
  width: 31.3%;
  border-radius: 6px;
  background: orangered;
  height: 195px;
  overflow: hidden;
  position: relative;
}
.collections-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.collections-card__content{
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--colection-bg);
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.collections-card__content h3{
  font-family: 'comfortaa';
  font-size: 20px;
  line-height: 20px;
  margin-top: 15px;
}
.collections-card__content::before,
.collections-card__content::after{
  width: 20px;
  height: 90%;
  position: absolute;
  content: '';
  background: url('../images/lenta.png') no-repeat center / cover;
}
.collections-card__content::before{
  right: 7px;
}
.collections-card__content::after{
  left: 7px;
}
/* .serials */
.serials{
  width: 100%;
  padding-bottom: 63px;
}
.serials__content--items{
  width: 100%;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, auto);
}
.serials-card{
  background: orangered;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}
.serials-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.serials-card__content{
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--serials-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  padding: 22px;
  row-gap: 27px;
}
.serials-card__content--play{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.serials-card__content--play h3{
  font-size: 24px;
  line-height: 26px;
  color: var(--white);
  font-weight: 700;
  font-family: 'comfortaa';
  text-align: center;
}
.serials-card:nth-of-type(6n + 1) .serials-card__content--play h3{
  font-size: 40px;
  line-height: 44px;
}
.serials-card:nth-of-type(6n + 1) .serials-card__content--play span{
  display: none;
}
.serials-card__content--text{
  display: none;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
.serials-card:nth-of-type(6n + 1) .serials-card__content--text{
  display: flex;
}
.serials-card__content--text p{
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-family: 'comfortaa';
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
.serials-card:nth-of-type(6n + 1){
  grid-column: 1 / span 4;
  height: 436px;
}
.serials-card:nth-of-type(12n + 2){
  grid-row: span 2;
  grid-column: 1 / span 2;
  height: 404px;
}
.serials-card:nth-of-type(12n + 10){
  grid-row: span 2;
  grid-column: 3 / span 2;
  height: 404px;
}

/* media */
@media (max-width: 1400px) {}
@media (max-width: 1200px) {}
@media (max-width: 992px) {
  .films-card,
  .collections-card{
    width: 48.5%;
  }
  .serials__content--items{
    grid-template-columns: repeat(2, 1fr);
  }
  .serials-card:nth-of-type(6n + 1),
  .serials-card:nth-of-type(12n + 2),
  .serials-card:nth-of-type(12n + 10){
    grid-column: unset;
    grid-row: unset;
    height: 250px;
  }
  .serials-card:nth-of-type(6n + 1) .serials-card__content--text{
    display: none;
  }
  .serials-card:nth-of-type(6n + 1) .serials-card__content--play h3{
    font-size: 24px;
    line-height: 26px;
  }
  .serials-card:nth-of-type(6n + 1) .serials-card__content--play span{
    display: flex;
  }
  .serials-card{
    height: 250px;
  }
  
}
@media (max-width: 768px) {
  .header__content p{
    margin: 15px 0;
  }
  .header__content h1{
    font-size: 50px;
    line-height: 50px;
  }
  .header{
    height: 400px;
  }
  .premiere{
    height: 600px;
    align-items: flex-end;
  }
  :root{
    --widow-deg: 0deg;
  }
  .premiere__video{
    width: 100%;
    top: 0;
    height: 400px;
  }
  .premiere__content{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .premiere__content p{
    margin: 10px 0;
  }
  .premiere__content img{
    width: 70%;
  }
}
@media (max-width: 576px) {
  .navbar-nav__list{
    display: none;
  }
  .navbar-nav__btn{
    display: flex;
  }
  .banner{
    padding: 10px 15px;
  }
  .navbar-nav__logo{
    padding: 10px 0;
  }
  .navbar-nav__logo img{
    width: 80px;
  }
  .header__content{
    align-items: center;
  }
  .header__content h1{
    font-size: 30px;
    line-height: 30px;
  }
  .vue-btn{
    min-width: 140px;
    padding: 14px;
  }
  .films-card,
  .collections-card{
    width: 100%;
  }
  .serials__content--items{
    grid-template-columns: repeat(1, auto);
  }
}
@media (max-width: 480px) {}
@media (max-width: 375px) {}